<h3>Cart</h3>

<div class="cart-item" *ngFor="let item of items">
 <span>{{ item.name }} </span>
 <span>{{ item.price | currency }}</span>
</div>


<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

<div>
   <label for="name">Name</label><br>
     
   <input id="name" type="text" formControlName="name" placeholder="please enter your name">
 </div>

 <div>
   <label for="address">Address</label><br>
     
   <input id="address" type="text" formControlName="address" placeholder="please enter your address">
 </div><br><hr>

 <button class="button" type="submit">Purchase</button>

</form>

